In [1]:
import pandas as pd
import numpy as np

In [2]:
winner = pd.read_csv('D:/Programming in Data Science/Pandas/euro_winners.csv')
winner.head()

,Season,Nation,Winners,Score,Runners-up,Runner-UpNation,Venue,Attendance
0,1955–56,Spain,Real Madrid,4–3,Stade de Reims,France,"Parc des Princes,Paris",38239
1,1956–57,Spain,Real Madrid,2–0,Fiorentina,Italy,"Santiago Bernabéu Stadium, Madrid",124000
2,1957–58,Spain,Real Madrid,3–2,Milan,Italy,"Heysel Stadium,Brussels",67000
3,1958–59,Spain,Real Madrid,2–0,Stade de Reims,France,"Neckarstadion,Stuttgart",72000
4,1959–60,Spain,Real Madrid,7–3,Eintracht Frankfurt,Germany,"Hampden Park,Glasgow",127621

In [3]:
grp_nation = winner.groupby('Nation')
grp_nation

In [4]:
grp_nation.groups

{'England': Int64Index([12, 21, 22, 23, 24, 25, 26, 28, 43, 49, 52, 56], dtype='int64'),
 'France': Int64Index([37], dtype='int64'),
 'Germany': Int64Index([18, 19, 20, 27, 41, 45, 57], dtype='int64'),
 'Italy': Int64Index([7, 8, 9, 13, 29, 33, 34, 38, 40, 47, 51, 54], dtype='int64'),
 'Netherlands': Int64Index([14, 15, 16, 17, 32, 39], dtype='int64'),
 'Portugal': Int64Index([5, 6, 31, 48], dtype='int64'),
 'Romania': Int64Index([30], dtype='int64'),
 'Scotland': Int64Index([11], dtype='int64'),
 'Spain': Int64Index([0, 1, 2, 3, 4, 10, 36, 42, 44, 46, 50, 53, 55], dtype='int64'),
 'Yugoslavia': Int64Index([35], dtype='int64')}

In [6]:
grp_size = grp_nation.size()

In [9]:
grp_size.sort_values(ascending=False)

Nation
Spain          13
Italy          12
England        12
Germany         7
Netherlands     6
Portugal        4
Yugoslavia      1
Scotland        1
Romania         1
France          1
dtype: int64

In [11]:
grp_winner = winner.groupby(['Nation','Winners'])
grp_winner

In [14]:
grp_winner.groups

{('England', 'Aston Villa'): Int64Index([26], dtype='int64'),
 ('England', 'Chelsea'): Int64Index([56], dtype='int64'),
 ('England', 'Liverpool'): Int64Index([21, 22, 25, 28, 49], dtype='int64'),
 ('England', 'Manchester United'): Int64Index([12, 43, 52], dtype='int64'),
 ('England', 'Nottingham Forest'): Int64Index([23, 24], dtype='int64'),
 ('France', 'Marseille'): Int64Index([37], dtype='int64'),
 ('Germany', 'Bayern Munich'): Int64Index([18, 19, 20, 45, 57], dtype='int64'),
 ('Germany', 'Borussia Dortmund'): Int64Index([41], dtype='int64'),
 ('Germany', 'Hamburg'): Int64Index([27], dtype='int64'),
 ('Italy', 'Internazionale'): Int64Index([8, 9, 54], dtype='int64'),
 ('Italy', 'Juventus'): Int64Index([29, 40], dtype='int64'),
 ('Italy', 'Milan'): Int64Index([7, 13, 33, 34, 38, 47, 51], dtype='int64'),
 ('Netherlands', 'Ajax'): Int64Index([15, 16, 17, 39], dtype='int64'),
 ('Netherlands', 'Feyenoord'): Int64Index([14], dtype='int64'),
 ('Netherlands', 'PSV Eindhoven'): Int64Index([32], dtype='int64'),
 ('Portugal', 'Benfica'): Int64Index([5, 6], dtype='int64'),
 ('Portugal', 'Porto'): Int64Index([31, 48], dtype='int64'),
 ('Romania', 'Steaua Bucure?ti'): Int64Index([30], dtype='int64'),
 ('Scotland', 'Celtic'): Int64Index([11], dtype='int64'),
 ('Spain', 'Barcelona'): Int64Index([36, 50, 53, 55], dtype='int64'),
 ('Spain',
  'Real Madrid'): Int64Index([0, 1, 2, 3, 4, 10, 42, 44, 46], dtype='int64'),
 ('Yugoslavia', 'Red Star Belgrade'): Int64Index([35], dtype='int64')}

In [15]:
grp_winner_size = grp_winner.size()
grp_winner_size

Nation       Winners
England      Aston Villa          1
             Chelsea              1
             Liverpool            5
             Manchester United    3
             Nottingham Forest    2
France       Marseille            1
Germany      Bayern Munich        5
             Borussia Dortmund    1
             Hamburg              1
Italy        Internazionale       3
             Juventus             2
             Milan                7
Netherlands  Ajax                 4
             Feyenoord            1
             PSV Eindhoven        1
Portugal     Benfica              2
             Porto                2
Romania      Steaua Bucure?ti     1
Scotland     Celtic               1
Spain        Barcelona            4
             Real Madrid          9
Yugoslavia   Red Star Belgrade    1
dtype: int64

In [18]:
grp_winner_size.sort_values(ascending=False)

Nation       Winners
Spain        Real Madrid          9
Italy        Milan                7
Germany      Bayern Munich        5
England      Liverpool            5
Spain        Barcelona            4
Netherlands  Ajax                 4
England      Manchester United    3
Italy        Internazionale       3
             Juventus             2
Portugal     Porto                2
             Benfica              2
England      Nottingham Forest    2
             Chelsea              1
France       Marseille            1
Yugoslavia   Red Star Belgrade    1
Germany      Borussia Dortmund    1
             Hamburg              1
Netherlands  Feyenoord            1
             PSV Eindhoven        1
Romania      Steaua Bucure?ti     1
Scotland     Celtic               1
England      Aston Villa          1
dtype: int64

In [37]:
goal = pd.read_csv('D:/Programming in Data Science/Pandas/goal_stats_euro_leagues_2012-13.csv')
goal = goal.set_index('Month')
goal.head()

                     Stat   EPL  La Liga  Serie A  Bundesliga
Month
08/01/2012  MatchesPlayed  20.0       20     10.0        10.0
09/01/2012  MatchesPlayed  38.0       39     50.0        44.0
10/01/2012  MatchesPlayed  31.0       31     39.0        27.0
11/01/2012  MatchesPlayed  50.0       41     42.0        46.0
12/01/2012  MatchesPlayed  59.0       39     39.0        26.0

In [41]:
goal_month = goal.groupby(lambda Month : Month.split('/')[1])
goal_month

In [42]:
goal_month.groups

{'01': Index(['08/01/2012', '09/01/2012', '10/01/2012', '11/01/2012', '12/01/2012',
        '01/01/2013', '02/01/2013', '03/01/2013', '04/01/2013', '05/01/2013',
        '08/01/2012', '09/01/2012', '10/01/2012', '11/01/2012', '12/01/2012',
        '01/01/2013', '02/01/2013', '03/01/2013', '04/01/2013', '05/01/2013',
        '06/01/2013'],
       dtype='object', name='Month'),
 '02': Index(['06/02/2013'], dtype='object', name='Month')}

In [43]:
goal_year = goal.groupby(lambda Month : Month.split('/')[2])
goal_year

In [44]:
goal_year.groups

{'2012': Index(['08/01/2012', '09/01/2012', '10/01/2012', '11/01/2012', '12/01/2012',
        '08/01/2012', '09/01/2012', '10/01/2012', '11/01/2012', '12/01/2012'],
       dtype='object', name='Month'),
 '2013': Index(['01/01/2013', '02/01/2013', '03/01/2013', '04/01/2013', '05/01/2013',
        '06/02/2013', '01/01/2013', '02/01/2013', '03/01/2013', '04/01/2013',
        '05/01/2013', '06/01/2013'],
       dtype='object', name='Month')}

In [50]:
goal_grpby_month = goal.groupby(level = 0)
goal_grpby_month

In [48]:
goal_grpby_month.groups

{'01/01/2013': Index(['01/01/2013', '01/01/2013'], dtype='object', name='Month'),
 '02/01/2013': Index(['02/01/2013', '02/01/2013'], dtype='object', name='Month'),
 '03/01/2013': Index(['03/01/2013', '03/01/2013'], dtype='object', name='Month'),
 '04/01/2013': Index(['04/01/2013', '04/01/2013'], dtype='object', name='Month'),
 '05/01/2013': Index(['05/01/2013', '05/01/2013'], dtype='object', name='Month'),
 '06/01/2013': Index(['06/01/2013'], dtype='object', name='Month'),
 '06/02/2013': Index(['06/02/2013'], dtype='object', name='Month'),
 '08/01/2012': Index(['08/01/2012', '08/01/2012'], dtype='object', name='Month'),
 '09/01/2012': Index(['09/01/2012', '09/01/2012'], dtype='object', name='Month'),
 '10/01/2012': Index(['10/01/2012', '10/01/2012'], dtype='object', name='Month'),
 '11/01/2012': Index(['11/01/2012', '11/01/2012'], dtype='object', name='Month'),
 '12/01/2012': Index(['12/01/2012', '12/01/2012'], dtype='object', name='Month')}

In [52]:
for month,group in goal_grpby_month:
    print(month)
    print(group)
    print('\n')

01/01/2013
                     Stat    EPL  La Liga  Serie A  Bundesliga
Month
01/01/2013  MatchesPlayed   42.0       40     40.0        18.0
01/01/2013    GoalsScored  117.0      121    104.0        51.0


02/01/2013
                     Stat   EPL  La Liga  Serie A  Bundesliga
Month
02/01/2013  MatchesPlayed  30.0       40     40.0        36.0
02/01/2013    GoalsScored  87.0      110    100.0       101.0


03/01/2013
                     Stat   EPL  La Liga  Serie A  Bundesliga
Month
03/01/2013  MatchesPlayed  35.0       38     39.0        36.0
03/01/2013    GoalsScored  91.0      101     99.0       106.0


04/01/2013
                     Stat    EPL  La Liga  Serie A  Bundesliga
Month
04/01/2013  MatchesPlayed   42.0       42     41.0        36.0
04/01/2013    GoalsScored  105.0      127    102.0       104.0


05/01/2013
                     Stat   EPL  La Liga  Serie A  Bundesliga
Month
05/01/2013  MatchesPlayed  33.0       40     40.0        27.0
05/01/2013    GoalsScored  96.0      109    102.0        92.0


06/01/2013
                   Stat  EPL  La Liga  Serie A  Bundesliga
Month
06/01/2013  GoalsScored  NaN       80      NaN         NaN


06/02/2013
                     Stat  EPL  La Liga  Serie A  Bundesliga
Month
06/02/2013  MatchesPlayed  NaN       10      NaN         NaN


08/01/2012
                     Stat   EPL  La Liga  Serie A  Bundesliga
Month
08/01/2012  MatchesPlayed  20.0       20     10.0        10.0
08/01/2012    GoalsScored  57.0       60     21.0        23.0


09/01/2012
                     Stat    EPL  La Liga  Serie A  Bundesliga
Month
09/01/2012  MatchesPlayed   38.0       39     50.0        44.0
09/01/2012    GoalsScored  111.0      112    133.0       135.0


10/01/2012
                     Stat   EPL  La Liga  Serie A  Bundesliga
Month
10/01/2012  MatchesPlayed  31.0       31     39.0        27.0
10/01/2012    GoalsScored  95.0       88     97.0        77.0


11/01/2012
                     Stat    EPL  La Liga  Serie A  Bundesliga
Month
11/01/2012  MatchesPlayed   50.0       41     42.0        46.0
11/01/2012    GoalsScored  121.0      116    120.0       137.0


12/01/2012
                     Stat    EPL  La Liga  Serie A  Bundesliga
Month
12/01/2012  MatchesPlayed   59.0       39     39.0        26.0
12/01/2012    GoalsScored  183.0      109    125.0        72.0