In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'Yes':[10,20],'No':[30,40]})
df

   Yes  No
0   10  30
1   20  40

In [3]:
df = pd.DataFrame({'Yes':[10,20],'No':[30,40]},index = ['Product1','Product2'])
df

          Yes  No
Product1   10  30
Product2   20  40

In [6]:
series = pd.Series([30,20,10])
series

0    30
1    20
2    10
dtype: int64

In [7]:
series1 = pd.Series([30,40,50],index=['product1','product2','product3'],name = 'Name of Product')
series1

product1    30
product2    40
product3    50
Name: Name of Product, dtype: int64